body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --primary-color: #0a1b3b;
  --secondary-color: #000d24;
  --white: #fdfdff;
  --accent: #0099ff;
  --accent2: #09ff00;
}

::-webkit-scrollbar {
  width: 2px;

  color: var(--accent2);

  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}
