.mountain-svg {
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.dashboard-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard-body {
  width: 100%;
  height: 100%;
  position: relative;
}
.dashboard-mountain-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  display: flex;

  width: 100vw;
}
.card {
  position: absolute;
  width: 7.66%;
  height: 30%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card:hover {
  width: 8.66%;
  transition: width 0.5s ease-in-out;
}
.card-fade-in {
  opacity: 1 !important;
}

.dashboard-card-image {
  width: 100%;
  height: 100%;
}
