.mountain-svg {
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.dashboard-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard-body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.card-container {
  z-index: 1;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 20%;
  width: 100%;
  background-color: #091120;
  bottom: 0;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 0px -2px 0px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: #091120;
}

.card:hover {
  animation-name: bob;

  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.card:hover > * {
  animation-name: wiggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  animation-fill-mode: forwards;
}

@keyframes bob {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5vh);
  }
  100% {
    transform: translate(0, -3vh);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  42% {
    transform: rotate(10deg);
  }
  58% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.card-fade-in {
  opacity: 1;
}
.dashboard-card-image {
  width: 8vw;

  cursor: pointer;
}
.dashboard-info {
  position: relative;

  left: -100%;
  animation: slide-in 1s forwards;
  animation-delay: 1s;
  height: 70%;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  margin-top: 10vh;
}
@keyframes slide-in {
  to {
    left: 0;
  }
}

.dashboard-info-header {
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 1px 1px #091120;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dashboard-info-header-line {
  width: 100%;
  height: 5px;
  background-color: #129490;
}
.dashboard-info-header .HTML {
  background-color: #ff6d00 !important;
}
.dashboard-info-header .CSS {
  background-color: #00b0ff !important;
}
.dashboard-info-header .javascript {
  background-color: #fdd835 !important;
}
.dashboard-info-header .react {
  background-color: #98ccfd !important;
}
.dashboard-info-header .nodeJS {
  background-color: #21a366 !important;
}
.dashboard-info-header .mongoDB {
  background-color: #5d4037 !important;
}
.dashboard-info-body {
  font-size: 1.5rem;
  font-weight: 700;

  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  text-transform: capitalize;
  width: 50%;
  height: 100%;
}
.dashboard-info-body-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  text-transform: capitalize;
  margin-bottom: 20px;
  height: 50%;
}
.dashboard-progress-bar {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  text-transform: capitalize;
}
.dashboard-progress-bar-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dashboard-progress-bar-inner {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  background-color: #129490;
}
.dashboard-progress-bar-cover .HTML {
  background-color: #ff6d00 !important;
}
.dashboard-progress-bar-cover .CSS {
  background-color: #00b0ff !important;
}
.dashboard-progress-bar-cover .javascript {
  background-color: #fdd835 !important;
}
.dashboard-progress-bar-cover .react {
  background-color: #98ccfd !important;
}
.dashboard-progress-bar-cover .nodeJS {
  background-color: #21a366 !important;
}
.dashboard-progress-bar-cover .mongoDB {
  background-color: #5d4037 !important;
}
.dashboard-progress-bar-cover {
  width: 100%;
  height: 20%;
  background-color: #091120;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .dashboard-info-header {
    font-size: 15vw;
    text-align: center;
    width: 90%;
  }
  .dashboard-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .dashboard-info-body-header {
    text-align: center;
  }

  .dashboard-progress-bar {
    width: 100%;
    height: 50%;
  }

  .dashboard-progress-bar-header {
    font-size: 1.5rem;
  }
  .dashboard-progress-bar-inner {
    height: 100%;
  }
}
