@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  display: none;
}

.home-page {
  background-color: #091120;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.particles {
  position: absolute;

  z-index: -2;
}

.home-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}
.home-body-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  z-index: 2;

  user-select: none;
}

.home-body-header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.icon-spinner {
  display: flex;
  width: 300%;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  transform: translate3d(0, 0, 0);
  justify-content: space-evenly;
  position: relative;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
}
.icon-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border-left: #fff 3px solid;
  color: #fdfdff;
  font-size: 1.5rem;
  font-weight: 1000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  text-shadow: 0 0 10px var(--primary-color);
  transition: transform 0.5s ease;
  animation: moveSlideshow 20s linear infinite;
}
.slide {
  width: 5vw;
  height: 5vw;
}
.home-body-nav {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 2;
  user-select: none;
}
.icon-header {
  font-size: 2vw;
  color: #fdfdff;
  font-weight: 1000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-shadow: 0 0 10px var(--primary-color);
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-600%);
  }
}

.learn-more-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 10%;
}

.header-head {
  font-size: 7rem;
  color: #fdfdff;
  font-weight: 1000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-shadow: 0 0 10px var(--primary-color);
}
.header-body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-shadow: 10px var(--primary-color);
  color: #fdfdff;
  margin-top: 20px;

  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-body-container a {
  text-decoration: none;
}
.learn-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdff;
  color: #1985a1;
  opacity: 1;
  height: 40px !important;
  border-color: rgb(0, 0, 0, 0);
  border-radius: 10px;
  margin: 20px 40px;
  width: 7vw;
  font-weight: 1000;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.sign-up-button:hover,
.learn-more-button:hover {
  opacity: 1;
  width: 10vw;
  transition: all 0.3s ease;
}

@media (max-width: 850px) {
  .icon-header {
    color: #fdfdff;
    font-weight: 1000;
    text-transform: uppercase;
    margin: 0;
  }
  .learn-more-button {
    width: 20vw;
  }
  .header-body {
    font-size: 1rem;
  }
  .header-head {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .icon-holder {
    width: 100%;
    font-size: 1rem;
  }
  .slide {
    width: 10vw;
    height: 10vw;
  }
}
