.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.login-form * {
  margin: 3px;
}
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.login-form input {
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  color: var(--white);
}
.login-form button,
.login-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  color: var(--white) !important;
  height: 40px !important;
  border-left: none !important;
  border-radius: 10px;

  border: none;
  box-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 10%;
  text-decoration: none;
  width: 40%;
}
.login-nav button:hover,
.login-nav a:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.login-form label {
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
}
.login-form label:hover {
  color: var(--white);
}
.login-form input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px 1px var(--primary-color);
}
.login-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.login-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-form input {
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  color: var(--white);
}
.login-container {
  width: 30%;
  min-width: 200px;
  border-right: 1px solid var(--accent);
  background-color: var(--primary-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  z-index: 2;
}
.link-btn {
  text-decoration: none;
  color: var(--white);
  margin-top: 20px;
  width: 70%;
  text-shadow: 1px 1px 1px 1px var(--primary-color);
}
.link-btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.login-game {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--accent) 20%, var(--secondary-color));

  overflow: hidden;
  flex-direction: column;
}
.login-game h1 {
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 4rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  margin: 0;
}
.login-game-container {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  flex-direction: column;
}

.high-five-button {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--accent);
  border: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  text-decoration: none;

  text-shadow: 1px 1px 1px 1px var(--primary-color);
}
.high-five-button:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.login-count {
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-image-inactive {
  height: 50vh;
  width: 50vh;
  z-index: 1;
  background: url(../assets/loginpage1.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}
.login-game-image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50%;

  flex-direction: row;
}
.login-image-active {
  width: 50vh;
  height: 50vh;
  z-index: 1;
  background: url(../assets/loginpage2.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}

@media (max-width: 800px) {
  .login-container {
    width: 100%;
    height: 100%;
    border-right: none;
    overflow: scroll;
  }

  .login-game {
    display: none;
  }
}
