.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-btn {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  width: 70%;
  text-shadow: 1px 1px 1px 1px #04080f;
}
.link-btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
