.navigation-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  flex-direction: row;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.course-navigation-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;

  flex-direction: column;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-right: 1px solid var(--accent);
}
.course-information-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;

  min-height: 100vh;
  flex-direction: column;
  background-color: var(--accent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.course-navigation-title {
  color: var(--white);
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  margin-top: 2.5vh;
  margin-bottom: 2.5vh;

  border-bottom: 1px solid var(--accent);
}

.course-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 85vh;
  flex-direction: column;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}
.course-navigation-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: var(--secondary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--accent);

  border-bottom-right-radius: 10px;
}
.course-navigation-item:last-child {
  margin-bottom: 300px;
}

.course-navigation-item-title {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.course-navigation-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-direction: row;
  background-color: var(--secondary-color);
  min-height: 100px;
  cursor: pointer;
}
.arrow {
  border: solid var(--white);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transition: transform 0.2s ease-in-out;
}
.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.course-navigation-item-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  flex-direction: column;
  background-color: var(--primary-color);

  border-radius: 5px;
  height: 0px;
  transition: all 0.5s ease-in-out;
  animation: slideDown 0.25s ease-in-out forwards;
  border-bottom: 2px solid var(--white);
  border-top: 2px solid var(--white);
  border-left: 2px solid var(--white);
  border-right: 2px solid var(--white);
  margin-bottom: 20px;
  overflow-y: scroll;
}
.course-navigation-item-section {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.course-navigation-item-section a {
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: 1000;

  text-decoration: none;
}
.course-navigation-item-body.hidden {
  overflow: hidden;
  display: flex;
  transition: all 0.5s ease-in-out;
  animation: slideUp 0.25s ease-in-out forwards;
}
.course-navigation-item-body.hidden > * {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.course-navigation-item-body > * {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
@keyframes slideDown {
  0% {
    height: 0px;
    border-top: none;
  }
  100% {
    height: 300px;
    border-top: 2px solid var(--white);
  }
}
@keyframes slideUp {
  0% {
    height: 300px;
    border-top: 2px solid var(--white);
  }
  100% {
    height: 0px;
    border-top: none;
  }
}
