.register-game-wrapper * {
  z-index: 1;
}
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.register-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.register-container {
  width: 30%;
  min-width: 200px;
  border-right: 1px solid var(--accent);
  background-color: var(--primary-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  z-index: 2;
}
.register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.register-form * {
  margin: 3px;
}
.register-form input {
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  color: var(--white);
}
.register-game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background: linear-gradient(var(--accent) 20%, var(--secondary-color));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.register-form a,
.register-form button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  color: var(--white) !important;
  height: 40px !important;
  border-left: none !important;
  border-radius: 10px;

  border: none;

  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 10%;
  width: 40%;
}
.register-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.register-form label {
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
}
.register-form input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px 1px var(--primary-color);
}
.register-form label:hover {
  color: var(--white);
}
.register-form button:hover,
.register-form a:hover {
  opacity: 0.8;
}
.register-game {
  width: 249px;
  height: 249px;
  position: relative;
  background-color: var(--primary-color);
  border: 1px solid var(--accent);
}
.snake-head {
  background-color: var(--accent);
  border: 1px solid var(--primary-color);
  position: absolute;
  width: 9px;
  height: 9px;
}
.snake-head-up {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.snake-head-dead {
  display: none;
}
.snake-head-down {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.snake-head-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.snake-head-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.snake-body {
  background-color: var(--white);
  border: 1px solid var(--secondary-color);
  position: absolute;
  width: 9px;

  height: 9px;
}
.game-over-message {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 4px;
}
.register-game-button {
  background-color: var(--primary-color);
  border: 1px solid var(--accent);
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);

  width: 40%;
}
.game-apple-dead {
  display: none;
}
.register-game-button:hover {
  opacity: 0.8;
}
.register-game-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 250px;
  height: 7.5vh;
}
.register-game-score {
  background-color: var(--primary-color);
  border: 1px solid var(--accent);
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);

  width: calc(40% - 2px);
}
.game-apple {
  background-color: red;
  border: 1px solid var(--primary-color);
  position: absolute;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: 120px;
  left: 120px;
}

.register-game-title h1 {
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
}
.register-game-head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 250px;

  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
  width: 80%;
  margin: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-underline-offset: 10px;
}
.register-game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.leaderboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  border-left: 1px solid var(--accent);
  background-color: var(--primary-color);
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}
.enable-stonks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent);
  color: var(--white);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  cursor: pointer;
}
.enable-stonks:hover {
  opacity: 0.8;
}
.enable-stonks:active,
.snake-form-button:active,
.register-game-button:active,
.register-game-score:active {
  opacity: 0.6;
}
.snake-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;

  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
}
.snake-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  color: var(--white) !important;
  height: 40px !important;
  border-left: none !important;
  border-radius: 10px;
  padding: 0 20px;
  border: none;

  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 10%;
}
.snake-form-button:hover {
  opacity: 0.8;
}
.snake-form input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  color: var(--white);
}

.snake-form * {
  margin: 3px;
}
.podium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  background-color: var(--primary-color);
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
}
.podium-place {
  position: relative;
  margin-right: auto;
}
#tsparticles2 {
  z-index: 0 !important;
  transition: all 1s ease-in;
  opacity: 0;
}
.show {
  opacity: 1 !important;
}
.podium-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  flex-direction: row;
  border-bottom: 1px solid var(--white);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.added-to-leaderboard {
  color: var(--white);
  text-shadow: 1px 1px 1px 1px var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  opacity: 0;
  margin: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}
@media (max-width: 800px) {
  .register-container {
    width: 100%;
    height: 100%;
    border-right: none;
    overflow: scroll;
  }

  .register-game-wrapper {
    display: none;
  }
  .leaderboard {
    display: none;
  }
}
