.register-game-wrapper * {
  z-index: 1;
}
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.register-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.register-container {
  width: 30%;
  min-width: 200px;
  border-right: 1px solid #1985a1;
  background-color: #04080f;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-align: center;
  font: 700 1rem "Roboto", sans-serif;
  padding-top: 20%;
  z-index: 2;
}
.register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.register-form * {
  margin: 3px;
}
.register-form input {
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  color: #fff;
}
.register-game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.register-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1985a1;
  text-shadow: 1px 1px 1px 1px #04080f;
  color: #fff !important;
  height: 40px !important;
  border-left: none !important;
  border-radius: 10px;
  padding: 0 20px;
  border: none;
  box-shadow: 1px 1px 1px 1px #04080f;
  font: 700 1rem "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 10%;

  width: 40%;
}
.register-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  background-color: #04080f;
  color: #fff;
  text-align: center;
  font: 700 1rem "Roboto", sans-serif;
}
.register-form label {
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;
}
.register-form input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font: 700 1rem "Roboto", sans-serif;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px 1px #04080f;
}
.register-form label:hover {
  color: #fff;
}
.register-form button:hover {
  opacity: 0.8;
}
.register-game {
  width: 249px;
  height: 249px;
  position: relative;
  background-color: #04080f;
  border: 1px solid #1985a1;
}
.snake-head {
  background-color: #1985a1;
  border: 1px solid #04080f;
  position: absolute;
  width: 9px;
  height: 9px;
}
.snake-head-up {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.snake-head-dead {
  display: none;
}
.snake-head-down {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.snake-head-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.snake-head-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.snake-body {
  background-color: #fff;
  border: 1px solid #04080f;
  position: absolute;
  width: 9px;

  height: 9px;
}
.game-over-message {
  font: 700 1rem "Roboto", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: underline;
  text-decoration-color: #1985a1;
  text-underline-offset: 5px;
}
.register-game-button {
  background-color: #04080f;
  border: 1px solid #1985a1;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #04080f;

  height: 70%;
  font: 700 1rem "Roboto", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;

  width: 40%;
}
.game-apple-dead {
  display: none;
}
.register-game-button:hover {
  background-color: #1985a1;
}
.register-game-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 250px;
  height: 7.5vh;
}
.register-game-score {
  background-color: #04080f;
  border: 1px solid #1985a1;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 1px 1px #04080f;

  height: 70%;
  font: 700 1rem "Roboto", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;

  width: 40%;
}
.game-apple {
  background-color: red;
  border: 1px solid #04080f;
  position: absolute;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: 120px;
  left: 120px;
}

.register-game-title h1 {
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;
  font: 700 1rem "Roboto", sans-serif;
}
.register-game-head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 250px;

  font: 700 3rem "Roboto", sans-serif;
  color: #fdfdff;
  width: 80%;
  margin: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-shadow: 1px 1px 1px 1px #04080f;
  text-decoration: underline;
  text-decoration-color: #1985a1;
  text-underline-offset: 10px;
}
.register-game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.leaderboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border-left: 1px solid #1985a1;
  background-color: #04080f;
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;
  font: 700 1rem "Roboto", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}
.enable-stonks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1985a1;
  color: #fdfdff;
  border: 1px solid #04080f;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 10px;
  font: 700 1rem "Roboto", sans-serif;
  text-shadow: 1px 1px 1px 1px #04080f;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #04080f;
}
.enable-stonks:hover {
  opacity: 0.8;
}
.enable-stonks:active,
.snake-form-button:active,
.register-game-button:active,
.register-game-score:active {
  opacity: 0.6;
}
.snake-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;

  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;
  font: 700 1rem "Roboto", sans-serif;
}
.snake-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1985a1;
  text-shadow: 1px 1px 1px 1px #04080f;
  color: #fff !important;
  height: 40px !important;
  border-left: none !important;
  border-radius: 10px;
  padding: 0 20px;
  border: none;
  box-shadow: 1px 1px 1px 1px #04080f;
  font: 700 1rem "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 10%;
}
.snake-form-button:hover {
  opacity: 0.8;
}
.snake-form input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font: 700 1rem "Roboto", sans-serif;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px 1px #04080f;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  color: #fff;
}

.snake-form * {
  margin: 3px;
}
.podium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  background-color: #04080f;
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;
  font: 700 1rem "Roboto", sans-serif;
}
.podium-place {
  position: relative;
  margin-right: auto;
}
#tsparticles2 {
  z-index: 0 !important;
}
.podium-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  flex-direction: row;
  border-bottom: 1px solid #1985a1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.added-to-leaderboard {
  color: #fff;
  text-shadow: 1px 1px 1px 1px #04080f;
  font: 700 1rem "Roboto", sans-serif;
  opacity: 0;
  margin: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}
